html {
	scroll-behavior: smooth;
}

.sideNav {
	overflow-x: hidden;
	height: 200px;
	width:130px;
	position: fixed;
	z-index: 1;
	top: 30%;
	left: 0;
	padding-top: 20px;
}

.sideNav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 17px;
	color: #818181;
	display: block;
}

.sideNav a:hover{
	background-color: #e6e6e6;
	color: black;
}

.sideNav a:active {
	background-color: #blue;
	color: white;
}

#header {
	height: 50px;
	background-color:EEEEEE;
}

#title {
	padding-top: 20%;
}

#home {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color:EEEEEE;
}

#learnRussian {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color:EEEEEE;
	position: relative;
}

#russianTitle {
	top: 150px;
	left: 200px;
	position: absolute;
}

#russianPic {
	padding-top:50px;
}

#russianContent {
	font-family: "Arial";
	font-size: 20px;
	width: 500px;
	left: 580px;
	position: absolute;
}

#connectFour {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color:white;
	position: relative;
}

#connectTitle {
	top: 150px;
	left: 200px;
	position: absolute;
}

#connectPic {
	padding-top:50px;
}

#connectContent {
	font-family: "Arial";
	font-size: 20px;
	width: 500px;
	left: 500px;
	position: absolute;
}

#resume {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-color:EEEEEE;
}

#about {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	width: 100%;
	background-color:white;
}

body {
	padding:0;
	background-color: #EEEEEE;
}

h1 {
	color: #333;
	text-align: center;
}
