html {
	scroll-behavior: smooth;
}

.sideNav {
	overflow-x: hidden;
	height: 150px;
	width:130px;
	position: fixed;
	z-index: 1;
	top: 25%;
	left: 0;
	padding-top: 20px;
}

.sideNav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 17px;
	color: #818181;
	display: block;
}

.sideNav a:hover{
	background-color: #EEEEEE;
	color: black;
}

.sideNav a:active {
	background-color: #blue;
	color: white;
}

#header {
	height: 50px;
	background-color:EEEEEE;
}

#home {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
	background-color:EEEEEE;
}

#learnRussian {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
	background-color:white;
}

#alanPi {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
	background-color:EEEEEE;
}

#resume {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
	background-color:white;
}

#about {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	background-color:EEEEEE;
}

body {
	background-color: #EEEEEE;
}

h1 {
	color: #333;
	text-align: center;
}
